<div class="container py-5">
    <div class="row align-items-center">
        <div class="d-flex justify-content-center flex-shrink-0 mb-4 items-end"  >
            <a class="btn btn-outline-primary rounded-pill py-3 px-4 px-md-5 ms-2" href="#serviceSection"><i
                    class="fa fa-arrow-down"></i></a>
        </div>
</div>  
    <div class="row g-5 align-items-center">
        <div class="col-xl-7 wow fadeInLeft" data-wow-delay="0.2s">
            <div>
             
                <h4 class="text-primary">Qui Sommes-nous ?</h4>
                <h1 class="display-5 ">Agence de communication </h1>
                <h4 class=" mb-4"  >Votre imagination notre création</h4>
                <p class="mb-4">
                    KNG PRINT est une agence de communication dynamique et innovante, spécialisée dans l'impression,
                     l'infographie, le marketing et les services bureautiques. Notre mission est d'aider les entreprises à donner vie à leurs idées et à se démarquer dans un monde concurrentiel.
                </p>
                <div class="row g-4">
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="d-flex">
                            <div><i class="fas fa-lightbulb fa-3x text-primary"></i></div>
                            <div class="ms-4">
                                <h4>Conseil en affaires</h4>
                                <p>Nous aidons les entreprises à maximiser leur potentiel en leur proposant des solutions personnalisées adaptées à leurs besoins.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="d-flex">
                            <div><i class="bi bi-bookmark-heart-fill fa-3x text-primary"></i></div>
                            <div class="ms-4">
                                <h4>Années d'expertise</h4>
                                <p>Nos équipes  travaillent avec passion pour garantir des résultats de qualité supérieure, quel que soit le projet.</p>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
        <div class="col-xl-5 wow fadeInRight" data-wow-delay="0.2s">
            <div class="bg-primary rounded position-relative overflow-hidden">
                <img src="img/kng/infographie.jpg" class="img-fluid rounded w-100" alt="">

            </div>

            <div class="bg-primary rounded position-relative overflow-hidden" style="margin-top: 10px;">
                <img src="img/kng/impression.jpg" class="img-fluid rounded w-100" alt="">

            </div>
        </div>
        
    </div>
</div>