<div class="container  "   >
    <div class="row g-5 border-start-0 border-end-0 py-5 " style="border: 1px solid; border-color: rgb(255, 255, 255, 0.08);">
        <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="footer-item">
                <a href="index.html" class="p-0">
                    <h4 class="text-white " style="font-weight:bold" > KNG PRINT</h4>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <p class="mb-4">
                 est une agence de communication dynamique et innovante, spécialisée dans l'impression, l'infographie, le marketing et les services bureautiques...
                </p>
                
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-2">
            <div class="footer-item">
                <h4 class="text-white xmb-4">Services </h4>
                <a href="#"><i class="fas fa-angle-right me-2"></i> Polo</a>
                <a href="#"><i class="fas fa-angle-right me-2"></i> T-shirt</a>
                <a href="#"><i class="fas fa-angle-right me-2"></i> Casquette</a>
                <a href="#"><i class="fas fa-angle-right me-2"></i> Tasse</a>
                <a href="#"><i class="fas fa-angle-right me-2"></i> Affiche</a>
                <a href="#"><i class="fas fa-angle-right me-2"></i> Logo</a>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="footer-item">
                <h4 class="text-white xmb-4"> &nbsp;</h4>
                <a href="#"><i class="fas fa-angle-right me-2"></i> Carte d'invitation</a>
                <a href="#"><i class="fas fa-angle-right me-2"></i> Carte de Visite</a>
                <a href="#"><i class="fas fa-angle-right me-2"></i> Calendriers</a>
                <a href="#"><i class="fas fa-angle-right me-2"></i> Badges</a>
                <a href="#"><i class="fas fa-angle-right me-2"></i> Flyers</a>
                <a href="#"><i class="fas fa-angle-right me-2"></i> Cachet Numerique</a>

                
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="footer-item">
                <h4 class="text-white xmb-4">Coordonnées</h4>
                <div class="d-flex align-items-center">
                    <i class="fas fa-map-marker-alt text-primary me-3"></i>
                    <p class="text-white mb-0">68 Rue Zanaga(Moungali)</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fas fa-envelope text-primary me-3"></i>
                    <p class="text-white mb-0">technologie.kng@gmail.com</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa fa-phone-alt text-primary me-3"></i>
                    <p class="text-white mb-0">(+242) 069717271</p>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <i class="fa fa-phone-alt text-primary me-3"></i>
                    <p class="text-white mb-0">(+242) 053448081</p>
                </div>
                <div class="d-flex">
                    <span class="btn btn-primary btn-sm-square rounded-circle me-3" ><i class="fab fa-facebook-f text-white"></i></span>
                    <span class="btn btn-primary btn-sm-square rounded-circle me-3" ><i class="fab fa-twitter text-white"></i></span>
                    <span class="btn btn-primary btn-sm-square rounded-circle me-3" ><i class="fab fa-instagram text-white"></i></span>
                    <span class="btn btn-primary btn-sm-square rounded-circle me-0" ><i class="fab fa-linkedin-in text-white"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row   " style="margin-top:15px;color:white!important" >
        <div class="col-md-6    mb-md-0">
            <span class="text-body "  > <i class="fas fa-copyright text-light me-2"></i>
                <span style="color:white!important">     2025 ,Tous droits réservés.</span></span>
        </div>
        <div class="col-md-6 text-center text-md-end text-body  ">
           <span style="color:white!important"> Distribué par  KNG </span> 
        </div>
    </div>

</div>

